
/*




Gold Level
Write css rules to give the animals with a 'cute' class green text and an underline. Style paragraph tags that are inside divs to have double the normal font size. Give each 
div on the page 10px of padding, 1rem of margins, and a background color of lightgray.

.cute {
    color:green;
    border: bottom 1px solid black;
}

div p {
    font-size: 200%;
}
div {
    padding: 10px;
    margin: 1rem;
    background-color: lightgray;
}



Blue Level
Perform the Gold challenge, and then write css rules to style the words
 "throw it back up" (in last paragraph tag) to be uppercase, with bolded text. 
 Style the paragraph with the id "dogText" to always be in the same position in the browser window.


span {
    text-transform: uppercase;
    text-transform: bold;
}

#dogText {
    position:  static;

}



Red Level
Perform the Blue challenge, and then write css rules to give all elements on the page except the `<h1>` elements a gray 1px solid border. You are only allowed to use 2 selectors for this task.


not(h1) {
    border: 1px solid gray;
}
*/

/* answer */

.cute {
    color: green;
    text-decoration: underline;
}

div p {
    font-size: 2rem;

}

div {
    padding: 10px;
    margin: 1rem;
    background-color: lightgrey;
}

span {
    text-transform: uppercase;
    font-weight: bold;
}

#dogText {
    position: fixed; /* good for holding shit in place */
}

:not(h1) {
    border: 1px solid grey;
}

/*
    * <-- psuedo selector.. 
*/


